.logoName{
    font-size: 50px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    margin-left: 60px;
    line-height: .7;
}

.header{
    display: flex;
    width: 100vw;
    position: sticky;
    top: 0;
    justify-content: space-evenly;
    border-bottom: .1px solid lightgray;
    padding-top: 7px;
    padding-bottom: 7px;
    z-index: 999;
    background-color: whitesmoke;
}

.header_left{
    display: flex;
}

.header_right{
    display: flex;
}

.header_left > img{
    object-fit: contain;
    height: 40px;
    background-color: #d8d8d8;
    background: linear-gradient(purple, blue);
    background: linear-gradient(purple, rgb(0, 225, 255), green);
    border-radius: 5px;
    margin-right: 10px;
    padding-left:.1rem;
    padding-right:.1rem;
}

.header_search{
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    height: 20px;
    color: gray;
    background-color: white;
}

.header_search > input{
    outline: none;
    border: none;
    background: none;
}

.clearLocalStorageBtn{
    background: black;
    color: red;
    padding: 10px;
    outline: none;
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
}

.clearLocalStorageBtn:hover{
    cursor: pointer;
    transform: scale(105%);   
}